Django==5.2.5
python-dotenv==1.0.1
Pillow==10.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
python-dateutil==2.9.0.post0
reportlab==4.1.0
xhtml2pdf==0.2.13
python-magic==0.4.27
python-magic-bin==0.4.14; sys_platform == 'win32'
